
.show_qrcode {
    min-width: 30px;
    padding: 0 28px;
    color: #333;
    position: relative;
    display: inline-block;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    height: 60px;
    margin-left: 10px;
    cursor: pointer;
}
.show_qrcode i {
    /*
    display: inline-block;
    width: 16px;
    height: 58px;
    margin-right: 20px;
    vertical-align: middle;
    background: url(/admin/images/skin_icons.png) -422px -8px no-repeat;
    */
}
.show_qrcode span {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    min-width: 1px;
}

.nav-header{
    padding-top: 20px;
}
.profile-element .back-img{
    width: 170px;
    height: 60px;
    margin-bottom: 10px;
    overflow: hidden;
}
.profile-element .back-img img{
    width: 60px;
    height: 60px;
    border-radius:50%;
    margin: 0 auto;
}